.container {
    box-shadow: rgba(0, 0, 0, 0.11) -4px 3px 4px, rgba(0, 0, 0, 0.3) -13px 15px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
    border-radius: 10px;
    min-height: 550px;
    background-color: transparent;
    background-image: radial-gradient(#0000002d 1px, whitesmoke 1px);
    background-size: 30px 30px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    border-width: 60px 16px 16px 60px;
    border-style: solid;
    border-color: rgb(230, 222, 209) rgb(230, 222, 209) whitesmoke whitesmoke;
    display: block;
    border-bottom-left-radius: 10px;
    box-shadow: -21px 30px 41px -8px lightgrey;
}


/* Check-box */
.checkbox-wrapper {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 20px;
}

@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper input[type=checkbox] {
    display: none;
}

.checkbox-wrapper .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid lightgray;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.checkbox-wrapper .check-box::before,
.checkbox-wrapper .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.checkbox-wrapper .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.checkbox-wrapper .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper input[type=checkbox]:checked+.check-box,
.checkbox-wrapper .check-box.checked {
    border-color: #34b93d;
}

.checkbox-wrapper input[type=checkbox]:checked+.check-box::after,
.checkbox-wrapper .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}

.checkbox-wrapper input[type=checkbox]:checked+.check-box::before,
.checkbox-wrapper .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
}


/* Bottone aggiungi Todo */
.btn-add {
    width: 100px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 50px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
}

.btn-add span {
    background: white;
    display: block;
    padding: 3px 0px;
    border-radius: 50px;
    border: 2px solid #494a4b;
}

.btn-add:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}

.btn-save {
    color: #34b93d;
    background-color: #34b93d;
}

.btn-edit {
    background-color: rgb(59 130 246);
}

.btn-delete {
    background-color: red;
}

.btn-edit,
.btn-delete,
.btn-save {
    width: 80px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 50px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-edit span,
.btn-delete span,
.btn-save span {
    background: white;
    display: block;
    padding: 3px 0px;
    border-radius: 50px;
    border: 2px solid #494a4b;
}

.btn-edit:active,
.btn-delete:active,
.btn-save:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}

/* .btn-edit,
.btn-delete,
.btn-save {
    filter: drop-shadow(3px 4px 1px lightgray)
} */

.marker {
    width: 120px;
    left: -65px;
    top: 0px;
    transform: rotate(88deg);
    filter: drop-shadow(2px 4px 3px grey);
}

.marker img {
    filter: hue-rotate(45deg);
}

.circle {
    margin: 0 auto;
    width: 230px;
}

.title {
    top: 66px;
    left: 50%;
    transform: translate(-50%);
}

form input {
    border-bottom: 2px dashed brown;
}

.rings {
    top: -51px;
    left: 0px;
}